@using System.Linq
@model RailwayApp.ViewModels.TrainList
<h6>Список поездов</h6>
<div class="row border mb-3">
    <div class="col-2">Название поезда</div>
    <div class="col-2">Стоимость билета</div>
    <div class="col-2">Тип поезда</div>
    <div class="col-2">Количество мест</div>
    <div class="col-3">
        <a asp-controller="Train" asp-action="Create">Создать новый поезд</a>
    </div>
</div>
@foreach (var train in Model.Trains)
    {
        <div class="row border m-2">
            <div class="col-2">@train.Name</div>
            <div class="col-2">@train.TicketCost руб</div>
            <div class="col-2">@train.Type</div>
            <div class="col-2">@train.SeatsCount</div>
            <div class="col-2">
                <a asp-action="Update" asp-route-id="@train.Id">Изменить</a>
            </div>
            <form asp-controller="Train" asp-action="Delete" method="post">
                <div class="col-2">
                    <input class="btn btn-primary" type="submit" value="@train.Id" asp-for="@Model.CurrentGuid"/>
                </div>
            </form>
        </div>
    }